.card-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-top: 5em;
  z-index: 1;

  .card {
    @media (min-width: 512px) {
      min-width: 350px;
    }
  }

  .card-body {
    .info-logo-auth {
      display: flex;
      padding-top: 5%;
      padding-bottom: 15%;
      padding-left: 5%;
      padding-right: 5%;
      align-items: center;
    }

    .card-title {
      padding-top: 12px;
      padding-left: 15px;
    }
  }
}
