<div class="card-login container">

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <div class="info-logo-auth">
        <img src="assets/images/Frame.png" class="img-card-auth" alt="logo-login">
        <h5 class="card-title">Money Service</h5>
      </div>

      <div class="card-form-auth row">
        <form id="loginForm">

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="password-login" placeholder="Contraseña de 6 digitos" >
          </div>



        </form>

      </div>
    </div>
  </div>


</div>
