
<div class="text-bg-dark border-right sidebar-heading" id="sidebar-wrapper" style="width: 6.5rem"
  [ngClass]="show ? 'hide' : 'show'">
  <div class="container">
    <a href="/" class="d-block p-3 link-dark text-decoration-none sidebar-heading" placement="end" ngbTooltip="Inicio">
      <img class="img-logo-sidebar" src="assets/images/Frame.png" alt="frame" />
    </a>
    <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
      <li class="nav-item">
        <a href="#" class="nav-link active  py-3  rounded-2" placement="end" ngbTooltip="Dashboard">
          <i class="bi bi-house-door"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3  rounded-2" dplacement="end" ngbTooltip="Pide un préstamo">
          <i class="bi bi-cash-stack"></i>
        </a>
      </li>
      <li>
        <a href="#" class="nav-link py-3  rounded-2" placement="end" ngbTooltip="Configuración">
          <i class="bi bi-sliders"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
