<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img class="navbar-brand" alt="logo" src="assets/images/logo-header.png"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Solicita un prestamo
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Quiero invertir</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cómo funciona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Simulador</a>
        </li>
      </ul>
      <button class="btn btn-light my-2 my-sm-0" type="submit">Regístrate</button>
    </div>
  </div>
</nav> -->

<header class="p-3 text-bg-dark header-auth">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img class="navbar-brand img-logo" alt="logo" src="assets/images/logo-header.png"/>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-4 text-white">Quiero invertir</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Solicita un prestamo</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Cómo funciona</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Simulador</a></li>
      </ul>

      <div class="text-end">
        <button type="button"  routerLinkActive="router-link-active"  class="btn btn-light me-2">Regístrate</button>
      </div>
    </div>
  </div>
</header>


