<header class="p-3 text-bg-dark header-auth">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <img class="navbar-brand img-logo" alt="logo" src="assets/images/logo-header.png"/>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-4 text-white">Quiero invertir</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Solicita un prestamo</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Cómo funciona</a></li>
        <li><a href="#" class="nav-link px-4 text-white">Simulador</a></li>
      </ul>

      <div class="text-end" *ngFor="let buttonItem of buttonsItems">
        <button type="button" *ngIf="buttonItem.condition"  class="btn {{buttonItem.class}} me-2" (click)="redirect(buttonItem.path)">{{buttonItem.title}}</button>
      </div>
    </div>
  </div>
</header>


